{% extends 'posts/base.html' %}

{% block content %}
    {% include 'posts/navbar.html' %}
    {% for post in posts %}
        <div class="col px-md-5 mt-3">
            <img src=" {{ post.author.profile.image.url }}" alt = "Image" width="50px" height="50px">
            <h3> Title: <a style="text-decoration:none; color: black" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href = "{% url 'post-detail' post.id %}" >{{post.title}}</a> </h3>
            <h5> Author: <a style="text-decoration:none; color: black" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href = "{% url 'user-posts' post.author %}">{{post.author}}</a> </h5>
            <h5> Description: {{post.description}} </h5>
            <!-- <button type="submit" class="mt-3 btn btn-primary"><a href = "" style="color:white">Edit</strong></a></button> -->
            <a class="mt-3 btn btn-outline-info" href="{% url 'post-update' post.id %}">Edit</a>
            <a class="mt-3 btn btn-outline-info" href = "{% url 'post-delete' post.id %}">Delete</a>
            <hr>
        </div>
    {% empty %}
        <h3 class = "m-3">No articles yet Bruhhhh!!!! Write your first one nowww.....</h3>
    {% endfor %}
{% endblock %}